<p>Hi <%= @user.email %>, </p>
	<p>You have been registered on Eventify. Your login details are, </p> <br>
	<p>Username : <%= @user.email %></p> <br>
	<p>Password : <%= @user.password %></p> <br>
<p>Regards,<br/> Aswin
</p>
