// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron.jumbotron-events {
    position: relative;
    background: #fff image-url("jumbotron-bg.jpg") center center;
    color: #fff ;
    width: 100%;
    height: 400px;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 10px;
    
}

.container .jumbotron {
    border-radius: 0px;
}

