<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title well well-sm" id="myModalLabel"> <b>Eventify </b><small>by Aswin S Sanakan</small> </h4>
      </div>
      <div class="modal-body">
        <p class="alert alert-success">Sign in using this login credentials to experience full abilities! <br> 
            - Email: admin@gmail.com <br>
            - Password: admin123
          
        </p>
        <p> <h4>Description:</h4> An event management web application made in Rails 4 from scratch. This application is focused on three types of users: Organiser, Venue Owner and normal user. For that, models such as Event, Venue and models for their specific booking needs has been setup.  Organisers can create and manage their events and Venue owners can add and manage their venues with ease. Also, the app has features like event booking and venue booking, fully equipped with necessary validations and role management. </p> <br>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>
